html,body,div,img,div,span,a,p,table,tr,th,td{margin: 0;padding: 0;}
html,body{
    background-color: #000;
}
a{
    color: #fff;
    text-decoration: none;
}
/* 导航样式 */
#top{
    width: 100%;height: 50px;
    font-size: 12px;
    color: #fff;
    display: flex;
    text-align: center;
    margin: 0 auto;
    background-color: rgb(48,47,59);
}
/* 导航左部 */
#left{
    display: flex;
}
#get_date{
    width: 80px;
}
#left>div:last-child{
    width: 100px;
    color: rgba(255,255,255,0.6);
}
#left>div{
    padding: 14px 10px;
}
#left>div:first-child{
    padding-top: 10px;
}
#left>div>img{
    width: 135px;height: 30px;
}
#left>div:nth-child(2)>div>span{
    width: 73px;height: 15px;
    line-height: 15px;
    display: block;
    font-size: 13px;
    text-align: center;
    padding: 5px 15px;
    border-radius: 30px;
    margin-left: 10px;
    background-color: #000;
}
/* 导航中部 */
#top>div:nth-child(2){
    width: 400px;height: 40px;
    background-color: #000;
    border-radius: 100px;
    margin: 5px 270px 5px 80px;
}
#top>div:nth-child(2)>div:first-child,#top>div:nth-child(2)>div:first-child,#top>div:nth-child(2)>div:nth-child(2),#top>div:nth-child(2)>div:nth-child(3),#top>div:nth-child(2)>div:last-child{
    width: 80px;height: 33px;
    line-height: 36px;
    float: left;
    margin: 3px 7px;
}
#top>div:nth-child(2)>div:nth-child(2){
    background-color: #4c4b57;
    border-radius: 50px;
}
/* 导航右部 */
#top>div:nth-child(3),#top>div:last-child{
    height: 28px;
    line-height: 28px;
    background-color: rgba(255,255,255,0.10);
    border: 1px solid rgba(255,255,255,0.20);
    border-radius: 50px;
    margin: 10px 7px;
}
#top>div:nth-child(3){
    width: 80px;
}
#top>div:last-child{
    width: 120px;
}
#bottom{
    width: 600px;height: 450px;
    margin: 0 auto;
    margin-top: 150px;
}